FL-04/n8n/workflow.json
{
  "id": "fl04-notes",
  "name": "FL-04 source-grounded notes",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "id": "node-1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t",
              "name": "topic",
              "value": "Model Context Protocol primitives",
              "type": "string"
            },
            {
              "id": "u",
              "name": "source_url",
              "value": "https://modelcontextprotocol.io/specification/2025-06-18/server/tools",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "node-2"
    },
    {
      "parameters": {
        "url": "={{ $('Input').item.json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "node-3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-5', max_tokens: 1500, messages: [{ role: 'user', content: 'Topic: ' + $('Input').item.json.topic + '\\nSource text:\\n' + $json.data + '\\n\\nAnswer ONLY from the source above and cite each answer with the source: 1) problem in one sentence 2) 3-5 core concepts, one line each 3) the smallest working example 4) top 3 gotchas 5) anything unspecified or contradicted. If the source does not cover a question, say \"not covered\" \u2014 do not guess.' }] }) }}",
        "options": {}
      },
      "name": "1 Synthesize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic",
          "name": "Anthropic"
        }
      },
      "id": "node-4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-5', max_tokens: 1500, messages: [{ role: 'user', content: 'Turn these cited answers into study notes with sections Problem / Core concepts / Minimal example / Gotchas / Open questions. Keep every citation. Voice: direct, concrete, no buzzwords. Add NO facts not below.\\n\\n' + $('1 Synthesize').item.json.content[0].text }] }) }}",
        "options": {}
      },
      "name": "2 Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic",
          "name": "Anthropic"
        }
      },
      "id": "node-5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-5', max_tokens: 1500, messages: [{ role: 'user', content: 'Fact-check. Mark each claim [grounded] if it traces to the cited source, [UNSUPPORTED] otherwise. List every UNSUPPORTED claim, then output the final notes with unsupported claims removed and formatting cleaned.\\n\\n' + $('2 Draft').item.json.content[0].text }] }) }}",
        "options": {}
      },
      "name": "3 Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic",
          "name": "Anthropic"
        }
      },
      "id": "node-6"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch": {
      "main": [
        [
          {
            "node": "1 Synthesize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 Synthesize": {
      "main": [
        [
          {
            "node": "2 Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Draft": {
      "main": [
        [
          {
            "node": "3 Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}